@page "/product"
@using global::Shared
@using BlazorWasm.Services

@inject NavigationManager NavigationManager
@inject IBasketService BasketService
@inject IProductService ProductService

<div class="pd-container">
    @if (Product != null) {
        <div class="pd-card">
            <div class="secondary-button round pd-button" onclick="history.back()">
                <Icon Name="return"/>
                <div>Gå tilbage</div>
            </div>
            <div>
                <h1>@Product.name</h1>
                <div class="pd-separator"></div>
                <div class="reInline">
                    <div class="pd-image-container">
                        <div>
                            <img class="pd-image" src="data:image/png;base64, @Product.Image"/>
                        </div>
                    </div>
                    <div class="pd-product-actions">
                        <div class="pd-stock">
                            @if (Product.amount <= 20) {
                                <p>@Product.amount på lager</p>
                            }
                            else {
                                <p>20+ på lager</p>
                            }
                        </div>
                        <div class="price">
                            @Product.Price kr
                        </div>
                        <div class="primary-button round pd-button pd-button-buy" @onclick="AddToBasket">
                            <Icon Name="basket"/>
                            <!--
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M68.4 192A20.38 20.38 0 0048 212.2a17.87 17.87 0 00.8 5.5L100.5 400a40.46 40.46 0 0039.1 29.5h232.8a40.88 40.88 0 0039.3-29.5l51.7-182.3.6-5.5a20.38 20.38 0 00-20.4-20.2H68.4zm193.32 160.07A42.07 42.07 0 11304 310a42.27 42.27 0 01-42.28 42.07z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" d="M160 192l96-128 96 128"/></svg>
                            -->
                            <div>Læg i kurv</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-description">
                <h2>Produkt Beskrivelse</h2>
                <p> @Product.description</p>
            </div>
        </div>
    } else {
        NavigationManager.NavigateTo("/"); //TODO or we could make a 404 page???
    }
</div>

@code {
    public Product Product { get; set; }

    protected override async Task OnInitializedAsync() {
        Product = ProductService.LastReviewedProduct;
        if (Product != null) {
            int? amount =  BasketService.GetProductAmount(Product.Id);
            if (amount != null) {
                Product.amount = amount;
            }
        }

        await base.OnInitializedAsync();
    }

    private void AddToBasket() {
        if (Product.InStock || Product.amount > 0) {
            int? amount = Product.amount;
            Product.InStock = BasketService.AddItem(Product.Id);
            Product.amount -= amount == Product.amount ? 1 : 0;
            StateHasChanged();
        };
    }
    
}